p{
    margin-bottom: 0px !important;
}

.skillcontainer {
    width: 70%; 
    background-color: #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
}
.skills {
    text-align: right; 
    padding-top: 10px; 
    padding-bottom: 10px; 
}
.html {width: 90%; background-color: #04AA6D;} 
.css {width: 80%; background-color: #2196F3;} 
.js {width: 65%; background-color: #f44336;} 
.py {width: 75%; background-color: yellow;} 
.cp {width: 70%; background-color: purple;}
.ja {width: 70%; background-color: orange;}

.btn .btn-primary{
    width: auto;
    height: 100px !important;
}
.btn-primary{
    background-color: #ffff !important; 
    color: #111 !important;
    border-color: #fff !important;
}
.showcase {
    width: 100%;
    position: absolute;
    background: #111;
    color: #fff;
    z-index: 2;
    transition: 0.5s;   
}
.showcase img {
    height: 100%;
    position: absolute;
    object-fit: cover;
    background-repeat: no-repeat;

}
.container-fluid{
    display: flex;
    flex-wrap: wrap;
}

.flip-container {
	perspective: 1000;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 310px;
	height: 350px;
    margin: 10px auto;
    
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
    color: cornSilk;
    text-align: center;
    font: 18px 'Helvetica Neue', Helvetica, sans-serif;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
    background: rgb(29, 29, 29);
}

.back {
	transform: rotateY(180deg);
    background: gray;
}

.front h1{
    margin: 20px auto;
}
.back p{
    margin: 20px;
}

.back a{
    text-decoration: none;
}